html {
    box-sizing: border-box;
} 
* { box-sizing: inherit;
}

body {
    max-width: 1200px;
    margin: 1000px auto;
    background-color: salmon;
}

h1,nav,main {
    background-color: salmon;
    
}


main {
    display: flex; 
    flex-direction: row-reverse;
    background-color: salmon;

}
main section {
    flex:  1 1 70%;

}
main aside {
    flex:  1 1 30%;

}
